@import "_common";

p{margin: 0;padding: 0;}
h6{
    font-family: 'S-CoreDream-5Medium';
}
main{
    .icon{
        display: flex;
        text-align: center;

        .insta{
                width: 40px;
                height: 40px;
                border-radius: 20px;
                background-color: $font-Y3;
                margin-left: 1563px;
                margin-right: 7px;
                padding: 6px;
        }

        .facebook{
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: $font-Y3;
            margin-right: 7px;
            padding: 7px;
    }

    .chat{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: $font-Y3;
        margin-right: 7px;
        padding: 7px;
    }

    .share{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: $font-Y3;
        padding: 5px;
    }

 







}









}
